{% extends 'base.html' %}
{% load static %}

{% block title %}
Топ продавцов
{% endblock %}

{% block content %}

  <div class="row">
    <div class="col" style="margin: 50px; text-align:center;">
      <div class="display-2">
        <span class="badge bg-primary">Топ продавцов на сайте</span>
      </div>
    </div>
  </div>

  <!-- Топ продавцов -->
  <div class="container" style="min-height: 452px">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">Никнейм</th>
            <th scope="col">Дата регистрации</th>
            <th scope="col">Количество объявлений</th>
          </tr>
        </thead>
        <tbody>
          {% for user in users %}
          <tr>
            <th>{{ user.username }}</th>
            <td>{{ user.date_joined|date:"D d M Y" }}</td>
            <td><span class="badge bg-success">{{ user.count }}</span></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
  </div>

{% endblock %}